
 @*------------------------------------------------------------------------------
 *     此代码由T4模板自动生成
 *	   生成时间 2018-12-05 09:36:28
 *     ©为之团队
 *------------------------------------------------------------------------------*@

 @{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/GY/GY_YY/GetGridJson",
            height: $(window).height() - 138,
            colModel: [
					  	
					{ label: "主键", name: "Id", width: 150, align: 'left',hidden:true },
	  	
					{ label: "创建日期", name: "CreateDate", width: 150, align: 'left', hidden: true },
	  	
					{ label: "创建用户账户", name: "CreateUserId", width: 150, align: 'left', hidden: true },

					{
					    label: "状态", name: "status", width: 40, align: 'left',
					    formatter: function (cellvalue, options, rowObject) {
					        if (cellvalue == "1") {
					            return '<span class=\"label label-success\">有效</span>';
					        } else {
					            return '<span class=\"label label-default\">无效</span>';
					        }
					    }
					},

					{ label: "编号", name: "number", width: 120, align: 'left' },
	  	
					{ label: "医院名称", name: "name", width: 150, align: 'left' },
	  	
					{ label: "地址", name: "address", width: 200, align: 'left' },
	  	
					{ label: "联系人", name: "linkman", width: 60, align: 'left' },
	  	
					{ label: "联系电话", name: "phone", width: 90, align: 'left' },
	  	
					{ label: "业务员", name: "salesman", width: 150, align: 'left' },
	  	
					{ label: "业务经理", name: "manager", width: 60, align: 'left' },

					{ label: "备注", name: "remark", width: 150, align: 'left' },
 
            ],
			pager: "#gridPager",
            sortname: 'CreateDate desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
			var queryJson = {
                keyword: $("#txt_keyword").val()
            }
		    $gridList.jqGrid('setGridParam', {
		         postData: { queryJson: JSON.stringify(queryJson) }, page: 1
		    }).trigger('reloadGrid');
        });
    }
    function btn_add() {

		var parentId = top.$.jfinetab.getCurrentTabId();
        top.$.jfinetab.addTabContent("/GY/GY_YY/Form", "医院基本信息--新增", parentId + "_add", parentId);
    }

    function btn_edit() {

		var parentId = top.$.jfinetab.getCurrentTabId();
        var Id = $("#gridList").jqGridRowValue().Id;
        if ($.checkedArray(Id)) {
            top.$.jfinetab.addTabContent("/GY/GY_YY/Form?keyValue=" + Id, "医院基本信息--修改", parentId + "_edit", parentId);
        }        
    }

    function btn_delete() {
	  var keyValue = $("#gridList").jqGridRowValue().Id;
	 if ($.checkedArray(keyValue))
        {
			 $.deleteForm({
				url: "/GY/GY_YY/DeleteForm",
				param: { keyValue: keyValue },
				success: function () {
					$.currentWindow().$("#gridList").trigger("reloadGrid");
				}
			});
        }
        
    }
    function btn_details() {

		var parentId = top.$.jfinetab.getCurrentTabId();
		var Id = $("#gridList").jqGridRowValue().Id;
		if ($.checkedArray(Id)) {
		    top.$.jfinetab.addTabContent("/GY/GY_YY/Details?keyValue=" + Id, "医院基本信息--查看", parentId + "_view", parentId);
		}    
    }
	function refreshGrid() {
        $("#gridList").trigger("reloadGrid");
	 }      
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="JF-add"  class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建</a>
            <a id="JF-edit" class="btn btn-primary dropdown-text" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改</a>
            <a id="JF-delete" class="btn btn-primary dropdown-text"  onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除</a>
            <a id="JF-Details" class="btn btn-primary dropdown-text"  onclick="btn_details()"><i class="fa fa-search-plus"></i>查看</a>
        </div>
        <div id="toolbar" class="btn-group">
		</div>
		<script>$('#toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="名称/编号" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
	<div id="gridPager"></div>
</div>

