<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="SqlServerDbContext" connectionString="JBc6HvjkLDb89gKfvh+G0Qf2zOcru8npiLloun0IqSy7mT+QwGCivzAt/1PIrmCjQlm/84qumk0BQiIpCAZiZXugGpQCqJGjvAYylOoXQF4=" providerName="System.Data.SqlClient" />

  <!--<add name="MySqlDbContext" connectionString="Data Source=.;port=3306;Initial Catalog=JFine;user id=jfine;password=11111;charset=utf8" providerName="MySql.Data.MySqlClient"/>-->
  <!--<add name="OracleDbContext" connectionString="User Id=111111;Password=111111;PERSIST SECURITY INFO=True;Data Source=JFine"  providerName="Oracle.ManagedDataAccess.Client"/>-->
</connectionStrings>